li:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    }
a:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    }
body {
    background-color: lightgrey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:16px;
    color:black;
}

h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Arial';
    }
p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    font-family: 'Verdana';
}
nav {
    text-align: center;
}

nav a {
    color: white;
    margin-right: 0px;
    font-weight:bold;
}

nav a:hover {
    color: yellow;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: blue;
    color: white;
}

.parcours {
    justify-items: center;
}