li:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    }
a:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    }
body {
    background-color: lightgrey;
}

h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Arial';
    }
p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    font-family: 'Verdana';
}
nav {
    text-align: center;
}
